{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-unstyled py-5">
                <li class="py-5">
                    <h1 class="contact-head fw-bold">Get in touch with us!</h1>
                </li>
                <li class="py-5 mb-5 fs-3">
                    Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet. Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.
                </li>
                <div class="badge badge-contact-size rounded-pill bg-dark fs-4">ADDRESS :</div>
                <li class="px-5 mx-5 my-4 fs-3 fst-italic">1481 Creekside Lane Avila Beach, CA 931</li>
                <div class="badge badge-contact-size rounded-pill bg-dark fs-4">PHONE :</div>
                <li class="px-5 mx-5 my-4 fs-3">+53 345 7953 32453</li>
                <div class="badge badge-contact-size rounded-pill bg-dark fs-4">EMAIL :</div>
                <li class="px-5 mx-5 my-4 fs-3 fst-italic">ankitkumarrai53@gmail.com</li>
            </ul>
        </div>
        <div class="col-lg-6 mt-5 d-flex align-items-center contact-form">
            <form class="w-100" method="post" action="{% url 'user' %}">
                {% csrf_token %}
                <input type="text" class="form-control contact-field-bg my-5 ps-4 py-4 fs-4" name="username" placeholder="Your Name" required>
                <div class="d-flex">
                    <input type="email" class="form-control contact-field-bg contact-mail me-5 ps-4 py-4 fs-4" name="email" placeholder="Your E-mail" required>
                    <input type="tel" class="form-control contact-field-bg contact-subject ps-4 py-4 fs-4" name="mobile" placeholder="Mobile No" required>
                </div>
                <textarea class="form-control contact-message contact-field-bg mt-5 ps-4 py-4 fs-4" name="message" id="exampleFormControlTextarea1" placeholder="Message" rows="10" required></textarea>
                <button type="submit" class="btn btn-dark rounded-pill px-5 py-3 my-5 fs-3">SEND</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
