
{% block content %}

        <div class="container-fluid travello-footer p-5 d-flex justify-content-around">
            <ul class="list-unstyled">
                <li class="text-light pt-4 pb-1 bg-transparent fs-2 fw-light ">Travel Guide</li>
                <div class="w-100 pt-1 mb-4 bg-white"></div>
                <li class="py-2 bg-transparent">
                    <a class="link-light text-decoration-none fs-4 fst-italic" target="_blank" href="https://www.goibibo.com/">Goibibo</a>
                </li>
                <li class="py-2 bg-transparent">
                    <a class="link-light text-decoration-none fs-4 fst-italic" target="_blank" href="https://www.makemytrip.com/">MakeMyTrip</a>
                </li>
                <li class="py-2 bg-transparent">
                    <a class="link-light text-decoration-none fs-4 fst-italic" target="_blank" href="https://www.trivago.com/">Trivago</a>
                </li>
                <li class="py-2 bg-transparent">
                    <a class="link-light text-decoration-none fs-4 fst-italic" target="_blank" href="https://www.tripadvisor.in/">TripAdvisor</a>
                </li>
            </ul>
            <ul class="list-unstyled">
                <li class="text-light pt-4 pb-1 bg-transparent fs-2 fw-light">Explore</li>
                <div class="w-100 pt-1 mb-4 bg-white"></div>
                <li class="py-2 bg-transparent">
                    <a class="link-light text-decoration-none fs-4 fst-italic" href="">Travel Articles</a>
                </li>
                <li class="py-2 bg-transparent">
                    <a class="link-light text-decoration-none fs-4 fst-italic" href="">Write a review</a>
                </li>
                <li class="py-2 bg-transparent">
                    <a class="link-light text-decoration-none fs-4 fst-italic" href="">Travello Choice's</a>
                </li>
            </ul>
            <ul class="list-unstyled">
                <li class="text-light pt-4 pb-1 bg-transparent fs-2 fw-light">Get The App</li>
                <div class="w-100 pt-1 mb-4 bg-white"></div>
                <li class="py-2 bg-transparent">
                    <a class="link-light text-decoration-none fs-4 fst-italic" href="">iPhone App</a>
                </li>
                <li class="py-2 bg-transparent">
                    <a class="link-light text-decoration-none fs-4 fst-italic" href="">Android App</a>
                </li>
            </ul>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>

{% endblock %}